/* Common Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-primary > a{
    text-decoration: none;
    color: white;
}
.btn-secondary{
    border-radius: 5px;
    background: #FFF8F3;
    border: 0;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 155px;
}
.nav_title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    width: 500px;
}
.bnr-greet{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.bnr-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bnr-des{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 585px;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* About Section Styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-info{
    text-align: center;
}
.info-title{
    color: var(--Dark-03, #757575);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.info-description{
    color: var(--Dark-02, #474747);
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
}
#what-i-do-des{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    gap: 24px; 
}
.skill{
    width: 267px;
    height: 377px;
    /* flex-shrink: 0; */
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
}
.skill-des{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
/* Resume Section Styles */
.resume-column-title{
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    margin-top: 113px;
    display: flex;
    gap: 70px;
}
.resume-item-title{
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-inst{
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-des{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
.download-cv a{
    text-decoration: none;
    color: white;
}
/* Footer Styles */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 117px;
}
.footer-column{
    width: 50%;
}
.connect-message{
    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.social-links > a{
    margin-right: 20px;
}
.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 0;
    width: 100%;
}